<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="js/login.js" defer></script>
   
</head>
<body>
    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form action="#" class="form" id="form1">
                <h2 class="form__title"> <b>Sign Up</b></h2>
                <input type="text" placeholder="Username" class="input" />
                <input type="email" placeholder="Email" class="input" />
                <input type="password" placeholder="Password" class="input" />
                <input type="password" placeholder="Birthday" class="input" />
                <input type="password" placeholder="CIN" class="input" />
                <input type="password" placeholder="Number" class="input" />
                <input type="password" placeholder="Gender" class="input" />
                <button class="btn">Sign Up</button>
            </form>
            
        </div>
    
        <!-- Sign In -->
        <div class="container__form container--signin">
            <form action="/" class="form" id="form2" method="POST">
                <h2 class="form__title"> <b>Sign In</b></h2>
                <input type="text" placeholder="Username" class="input" name="username" required/>
                <input type="email" placeholder="Email" class="input"name="email"  required/>
                <input type="password" placeholder="Password" class="input" name="password" required/>
                <a href="#" class="link">Forgot your password?</a>
                <button class="btn" type="submit" >Sign In</button>
            </form>
        </div>
    
        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Sign In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

 <!-- <h1>Connexion</h1> 
    <form action="/" method="POST">
        <label>Email:</label>
        <input type="email" name="email" required>
        <br>
        <label>Prénom:</label>
        <input type="text" name="first_name" required>
        <br>
        <label>Nom:</label>
        <input type="text" name="last_name" required>
        <br>
        <button type="submit">Se connecter</button>
    </form> -->
