<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
</body>
</html>

 <!-- <h1>Connexion</h1>
    <form action="/" method="POST">
        <label>Email:</label>
        <input type="email" name="email" required>
        <br>
        <label>Prénom:</label>
        <input type="text" name="first_name" required>
        <br>
        <label>Nom:</label>
        <input type="text" name="last_name" required>
        <br>
        <button type="submit">Se connecter</button>
    </form> -->
