<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="js/login.js" defer></script>
   
</head>
<body>
    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form action="/signup" method="POST" class="form" id="form1">
                <h2 class="form__title"> <b>Sign Up</b></h2>
                <input type="text" placeholder="Nom" class="input" name="first_name" required/>
                <input type="text" placeholder="Prènom(s)" class="input" name="last_name" required/>
                <input type="text" placeholder="Username" class="input" name="username" required/>
                <input type="email" placeholder="Email" class="input" name="email" required/>
                <input type="password" placeholder="Password" class="input" name="password" required />
                <label for="Birthdate">Birthdate</label>
                <input type="date" placeholder="Birthday" class="input" name="birthdate" required />
                <input type="text" minlength="10" maxlength="" placeholder="CIN number" class="input" name="cin" required />
                <input type="number" placeholder="Number" class="input" name="number" required />
                <input type="text" maxlength="1" placeholder="Genre (M/F)" class="input" name="genre" pattern="[MFmf]" required />
                <button class="btn" name="signup">Sign Up</button>
            </form>
            
        </div>
    
        <!-- Sign In -->
        <div class="container__form container--signin">
            <form action="/login" class="form" id="form2" method="POST">
                <h2 class="form__title"> <b>Sign In</b></h2>
                <input type="text" placeholder="Username" class="input" name="username" required/>
                <input type="email" placeholder="Email" class="input" name="email"  required/>
                <input type="password" placeholder="Password" class="input" name="password" required/>
                <a href="#" class="link">Forgot your password?</a>
                <button class="btn" type="submit"  name="login">Sign In</button>
            </form>
        </div>
    
        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Sign In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>